# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and test output
coverage
*.lcov
.nyc_output

# Build and cache directories
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.temp
.vitepress/dist
.docusaurus
.fusebox/

# Misc tooling
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.*
!.env.example
*.tsbuildinfo

# IDEs / OS
.DS_Store
.vscode-test

# Generated native folders
/ios
/android

# Other
app-example

# Keep local env patterns
.env*.local

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Expo generated typings
expo-env.d.ts

# macOS pem
*.pem
